api_platform:
    mapping:
        paths: ['%kernel.project_dir%/config/api']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
        api_keys:
            apiKey:
                name: Authorization
                type: header
    formats:
        json:
            mime_types: ['application/json']
        html:
            mime_types: ['text/html']
