###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/src/Controller/.env.local
/src/Service/.env.local
/.idea/

/config/jwt/*
[ec2-user@ip-172-31-92-95 myapp]$